<footer
    class="grid h-auto gap-y-8 pt-5 grid-cols-2 sm:gap-y-2 lg:h-48 bg-gradient-to-r from-[#0f172a] to-[#334155]"
>
    <div class="flex flex-col items-center">
        <h2
            class="border-1 p-2 text-sm sm:text-base md:text-2xl bg-cyan-600 text-yellow-50 rounded-2xl"
        >
            Proyectos
        </h2>
        <ul class="text-sm sm:text-base md:text-2xl p-3">
            <li>
                <a class="text-amber-50 no-underline" href=""
                    >Lorem ipsum dolor sit.</a
                >
            </li>
            <li>
                <a class="text-amber-50 no-underline" href=""
                    >Lorem ipsum dolor sit.</a
                >
            </li>
        </ul>
    </div>
    <div class="flex flex-col items-center">
        <h2
            class="border-1 p-2 text-sm sm:text-base md:text-2xl bg-cyan-600 text-yellow-50 rounded-2xl"
        >
            Noticias
        </h2>
        <ul class="text-sm sm:text-base md:text-2xl p-3">
            <li>
                <a class="text-amber-50 no-underline" href=""
                    >Lorem ipsum dolor sit.</a
                >
            </li>
            <li>
                <a class="text-amber-50 no-underline" href=""
                    >Lorem ipsum dolor sit.</a
                >
            </li>
        </ul>
    </div>
</footer>
